<beanshell-editor state="$ctrl.state" application-state="$ctrl.applicationState">

</beanshell-editor>
<div style="margin-top:5px; margin-bottom:5px" class="container justify-content-start" role="table">
    <div class="row justify-content-start">
        <!-- Left-side action panel -->
        <div class="col-lg-5 col-md-11">
            <!-- The action buttons -->
            <div id="idwRuleRunnerButtonsContainer">
                <div class="button-row">
                    <button class="btn btn-success" ng-click="$ctrl.runRule()" ng-disabled="$ctrl.applicationState.running" role="button">
                        <span ng-if="!$ctrl.running"><i class="glyphicon glyphicon-flash"></i>Run</span>
                        <span class="glyphicon glyphicon-refresh spinning" ng-if="$ctrl.running" aria-label="Running..."/>
                    </button>
                    <button class="btn btn-danger" ng-click="$ctrl.abortRule()" ng-disabled="$ctrl.stopButtonDisabled" role="button">
                        <span ng-if="!$ctrl.aborting"><i class="glyphicon glyphicon-remove"></i>Stop</span>
                        <span ng-if="$ctrl.aborting" class="glyphicon glyphicon-refresh spinning" aria-hidden="true">&nbsp;</span>
                        <span ng-if="$ctrl.aborting">Stopping...</span>
                    </button>
                </div>
                <div class="button-row input-group col-md-8 col-lg-6">
                    <span class="input-group-addon">Timeout (minutes)</span>
                    <input aria-label="Timeout in minutes" type="text" title="Number of minutes before running rule is interrupted (default 10)" class="form-control" ng-disabled="$ctrl.applicationState.running" ng-model="$ctrl.state.timeout" placeholder="10"/>
                </div>
                <div class="button-row">
                    <button class="btn btn-secondary" ng-click="$ctrl.clearRule()" ng-disabled="$ctrl.applicationState.running" role="button">
                        <span><i class="glyphicon glyphicon-file"></i>New</span>
                    </button>
                    <button class="btn btn-secondary" ng-click="$ctrl.startLoadRule()" ng-disabled="$ctrl.applicationState.running" role="button">
                        <span><i class="glyphicon glyphicon-floppy-open"></i>Open</span>
                    </button>
                    <button class="btn btn-secondary" ng-click="$ctrl.startSaveRule()" ng-disabled="$ctrl.applicationState.running" role="button">
                        <span><i class="glyphicon glyphicon-floppy-save"></i>Save</span>
                    </button>
                    <button class="btn btn-secondary" ng-click="$ctrl.startVariables()" ng-disabled="$ctrl.applicationState.running" role="button">
                        <span><i class="glyphicon glyphicon-cog"></i>Variables</span>
                    </button>
                </div>
            </div>

            <!-- Dark mode and other editor options -->
            <div class="options">
                <div class="form-group">
                    <input id="darkModeCheck" type="checkbox" ng-model="$ctrl.darkMode"/>
                    <label for="darkModeCheck">Dark mode</label>
                </div>
            </div>

            <div class="messages-container" ng-if="messages"><span class="fa fa-check"></span> {{messages}}</div>
            <!-- Error check messages - fix for CM 5.65...
            <div class="messages-container" ng-if="errorCount">
                <div><span class="fa fa-times"></span> Syntax check found {{errorCount}} problems!</div>
                <div><a href="#" ng-click="ctrl.scrollToError(0)">Jump to first</a> | <a href="#" ng-click="ctrl.scrollToError(nextErrorItem)">Jump to next ({{nextErrorItem + 1}})</a></div>
            </div>

            -->
        </div>

        <!-- Right-side action panel, rule libraries, execution flags, etc -->
        <div class="col-lg-6 col-md-11 options">
            <selectize-component id="ruleLibrarySelectizeComponent" ruleLibraryOptions="$ctrl.selectizeOptions"></selectize-component>

            <div class="ruleOptions" style="margin-top: 5px; border: 1px solid #ccc; padding: 4px; border-radius: 5px;" ng-attr-aria-expanded="!$ctrl.optionsCollapsedState.ruleOptions" role="region" aria-live="polite" aria-label="Rule execution options">
                <div class="pull-right">
                    <button class="btn btn-link btn-sm" ng-click="$ctrl.toggleOptionsCollapsed('ruleOptions')" aria-label="Toggle rule options">
                        <span ng-if="$ctrl.optionsCollapsedState.ruleOptions"><i class="glyphicon glyphicon-chevron-down"></i></span>
                        <span ng-if="!$ctrl.optionsCollapsedState.ruleOptions"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </button>
                </div>
                <div ng-if="$ctrl.optionsCollapsedState.ruleOptions" ng-click="$ctrl.toggleOptionsCollapsed('ruleOptions')" role="button" tabindex="0">
                    <div style="margin-top: 5px; margin-bottom: 5px; padding-left: 5px;">
                        <em>Options...</em>
                    </div>
                </div>
                <div ng-if="!$ctrl.optionsCollapsedState.ruleOptions">
                    <div class="form-group margin-top-7">
                        <input id="includeWebClassesCheck" type="checkbox" ng-model="$ctrl.state.includeWebClasses"/>
                        <label for="includeWebClassesCheck">Include web context variables</label>
                    </div>
                    <div class="form-group">
                        <input id="isWorkflowRuleLibraryCheck" type="checkbox" ng-model="$ctrl.state.isWorkflowRuleLibrary"/>
                        <label for="isWorkflowRuleLibraryCheck">Include workflow library variables (lint only)</label>
                    </div>
                    <div class="form-group">
                        <input id="suppressRawTypeErrorsCheck" type="checkbox" ng-model="$ctrl.state.suppressRawTypeErrors"/>
                        <label for="suppressRawTypeErrorsCheck">Ignore type errors that Beanshell allows (lint only)</label>
                    </div>

                    <div class="form-group">
                        <input id="isAsyncCheck" type="checkbox" ng-model="$ctrl.state.async"/>
                        <label for="isAsyncCheck">Run asynchronously</label>
                    </div>
                    <div class="form-group">
                        <input id="hideDocumentation" type="checkbox" ng-model="$ctrl.applicationState.hideDocumentation"/>
                        <label for="hideDocumentation">Auto-hide documentation on run</label>
                    </div>
                    <div class="form-group">
                        <input id="generateVariables" type="checkbox" ng-model="$ctrl.applicationState.generateVariables"/>
                        <label for="generateVariables">Create variables when a rule has known arguments</label>
                    </div>
                </div>
            </div>


            <div class="csvOptions" style="margin-top: 5px; border: 1px solid #ccc; padding: 4px; border-radius: 5px;" ng-attr-aria-expanded="!$ctrl.optionsCollapsedState.uploadCsv" role="region" aria-live="polite" aria-label="CSV upload options">
                <div class="pull-right">
                    <button class="btn btn-link btn-sm" ng-click="$ctrl.toggleOptionsCollapsed('uploadCsv')" aria-label="Toggle CSV upload options">
                        <span ng-if="$ctrl.optionsCollapsedState.uploadCsv"><i class="glyphicon glyphicon-chevron-down"></i></span>
                        <span ng-if="!$ctrl.optionsCollapsedState.uploadCsv"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </button>
                </div>
                <div ng-if="$ctrl.optionsCollapsedState.uploadCsv" ng-click="$ctrl.toggleOptionsCollapsed('uploadCsv')" role="button" tabindex="0">
                    <div style="margin-top: 5px; margin-bottom: 5px; padding-left: 5px;">
                        <span ng-if="!$ctrl.applicationState.lastUploadedCsvFile.ok"><em>Upload CSV file...</em></span>
                        <span ng-if="$ctrl.applicationState.lastUploadedCsvFile.ok"><em>CSV file uploaded: {{$ctrl.applicationState.lastUploadedCsvFile.fileName}}</em></span>
                    </div>
                </div>
                <div class="row" ng-if="!$ctrl.optionsCollapsedState.uploadCsv">
                    <div class="col-md-6">
                        <div><strong>Upload a CSV file:</strong></div>
                        <input id="csvFileUpload" type="file" accept=".csv,text/csv" ng-model="$ctrl.state.csvFile" select-ng-files />
                    </div>
                    <div class="col-md-5" ng-if="$ctrl.applicationState.lastUploadedCsvFile.ok" style="margin-right: -10px">
                        <div><strong>Options</strong></div>
                        <div class="form-group">
                            <input id="csvHasHeaders" type="checkbox" ng-model="$ctrl.state.csvHasHeaders"/>
                            <label for="csvHasHeaders">CSV file has headers</label>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="$ctrl.applicationState.lastUploadedCsvFile.ok">
                        <div class="pull-right">
                            <button class="btn btn-secondary btn-sm" ng-click="$ctrl.clearUploadedCsv()">Clear</button>
                        </div>
                        <div>File uploaded successfully!:
                            {{$ctrl.applicationState.lastUploadedCsvFile.fileName}}
                            ({{$ctrl.applicationState.lastUploadedCsvFile.size}}, {{$ctrl.applicationState.lastUploadedCsvFile.lines}} lines)</div>
                        <div>CSV contents variable: <code>csvData</code></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>